<div class="jumbotron text-center">
  <img src="https://www.visionect.com/wp-content/uploads/2017/01/Visionect_Digital_Bus_Stops_UK_2400x1200.jpg">
  <h1>Atlanta MTA Buses</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3
    col-sm-8 col-sm-offset-2
    col-xs-10-offset-1">
    <h3 class="text-center">

      Give us your address or street corner, and we'll let you know if there's a bus nearby!

      </h3>
      <%= render 'form', location: @location %>

    </div>
  </div>
</div>




